body
{
}
/* HOMEPAGE CONTAINER */
.homepage_container
{
    width: 100%;
    background-color: grey;
    margin-top: -100px;
}

/* FOOTER */
.footer
{
    background-color: red;
    width: 100%;
    text-align: center;
    font-size: 14px;
    height: 100px;
    margin-top: 22vh;
}

.navbar
{
    background-color: rgba(0, 0, 0, 0.6) !important;
    width: 100vw;
    z-index: 9999;
    height: 100px;
}

/* LOGO */
.logo
{
    width: 110px;
}
/* ACTIVE NAV LINKS */
.active
{
    color: red !important;
    font-weight: bold;
}



/* NAV-ITEMS */
.navbar-nav
{
    width: 100%;
}
.nav-link
{
    color: #ddd7d7;
    font-size: 18px !important;
}


/* CAROUSEL */

.carousel{
    height: 100vh; /* For 100% screen height */
}
.carousel-inner
{
    height: 100%;
    background-color: grey;
}
.carousel-item
{
    height: 100%;
    background-color: red;
    position: relative;
}

.carousel-item img
{
    height: 100vh; /* For 100% screen height */
    width: 100vw;
}
.slide_btn
{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin-right: 12px !important;
}
.dimmer
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.carousel_content
{
    margin-top: 30vh !important;
    color: white;
    padding-left: 60px;
    width: 100vw;
    animation: fadeIn 5s;
}
@keyframes fadeIn
{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.content_header{
    font-size: 48px;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    width: 40%;
}
.carousel_content p{
    font-size: 16px;
    font-family: arial;
    font-weight: lighter;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
    width: 35%;
}




.middle
{
    height: 100vh;
    background-color: grey;
}




/* MEDIA QUERIES */
/* @media only screen and (max-width:320px)
{
    .content_header
    {
        font-size: 11px;
        width: 100vw !important;
    }
    .carousel_content p
    {
        font-size: 11px !important;
        width: 80% !important;
    }
} */



@media screen and (max-width:375px)
{
    .content_header
    {
        font-size: 22px !important;
        width: 80% !important;
    }
    .carousel_content p
    {
        font-size: 12px !important;
        width: 80% !important;
    }

    
    
}
@media  screen and (max-width:425px)
{
    .carousel-item img
    {
        object-fit: cover;
    }
    .carousel_content
    {
        padding-left: 20px;
    }
    .content_header
    {
        font-size: 22px !important;
        width: 80% !important;
    }
    .carousel_content p
    {
        font-size: 12px !important;
        width: 80% !important;
    }
}
@media  screen and (max-width:768px)
{
    .content_header
    {
        width: 50% ;
    }
    .carousel_content p
    {
        width: 50% ;
    }
    .nav-item
    {
        background-color: black;
        width: 100%;
        text-align: center;
    }
    
}
@media  screen and (max-width:1024px)
{
    .carousel_content p
    {
        width: 50%;
    }
    .content_header
    {
        width: 70%;
    }
}

